.main_background_image{
    background-image: url("../components/assets/backgroundImage.jpg");
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height:100%;
    min-width: 100%;
    background-position: center;
    padding-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container{
   
    background-color: white;
    height: 45rem;
    width: 70rem;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-radius: 25px;
 
      
}

.login_image{
    background-image: url("../components/assets/timetrackerDoodle.png");
    height:45rem;
    width: 30rem;
    position: fixed;
    background-size: cover;
    background-position: center;
    margin-right: 635px;
    border-radius: 25px;
    
   

}

.login_form{
    
    margin-left: 30rem;
    width: 38rem;
    height: 45rem;
    padding-right: 20px;
    padding-top: 65px;
  

}

#login-button{
 margin: 20px;

}

